# B"H

In [1]:
import numpy as np
import pandas as pd

from google.oauth2 import service_account

from google.cloud import bigquery
from google.cloud import storage

from pandas_gbq import gbq

In [2]:
credentials = service_account.Credentials.from_service_account_file(
    '/home/laz/app-keys/data-science-course-a1544568093e.json',
)

In [3]:
configuration = {
   'query': {
     "useQueryCache": False
   }
}

In [7]:
project_id  = "data-science-course-226116"

In [13]:
sql = 'SELECT * FROM `data-science-course-226116.sql_lessons.departments`'

In [14]:
df = gbq.read_gbq(
    sql, 
    configuration = configuration,
    project_id    = project_id, 
    credentials   = credentials,
    dialect       = 'standard'
)

In [15]:
df.head()

   id          name  branch_id
0   1   Engineering        3.0
1   2            HR        3.0
2   3  Tech Support        NaN
3   4            CS        1.0
4   5           COO        9.0