# B"H

---

## The **`pandas-gbq`** library

- https://pandas-gbq.readthedocs.io/en/latest/reading.html
- https://pandas-gbq.readthedocs.io/en/latest/api.html
- https://pandas-gbq.readthedocs.io/en/latest/howto/authentication.html

---

In [1]:
import numpy as np
import pandas as pd
import pandas_gbq

from google.oauth2 import service_account

---
### Prerequisite Step 1 - configure the settings that should last throughout the session
- credentials
- project
- sql dialect

In [2]:
credentials = service_account.Credentials.from_service_account_file(
    '/home/laz/app-keys/data-science-course-a1544568093e.json'
)

In [3]:
pandas_gbq.context.credentials = credentials
pandas_gbq.context.project     = 'data-science-course-226116'
pandas_gbq.context.dialect     = 'standard'

---
### Run SQL query and pull the data into a DataFrame

In [4]:
configuration = {
   'query': {
     "useQueryCache": False
   }
}

In [5]:
sql = """
select   *
from     sql_lessons.x_stg_mock_salaries
"""

In [6]:
df = pandas_gbq.read_gbq(
    query         = sql,         
    configuration = configuration    
)

In [7]:
df.head()

     name      salary
0    Levi  7437223.77
1  Shimon  4437623.15
2   Aryeh  9437623.45
3  Reuven  6446515.98

---

### Create table in BigQuery from a DataFrame

**Note:**

Writing large DataFrames can result in errors due to size limitations being exceeded. 

This can be avoided by setting the chunksize argument when calling to_gbq(). 

```python
gbq.to_gbq(df, 'my_dataset.my_table', projectid, chunksize=10000)
```

In [8]:
sample_dict  = {
    'my_string': list('abc'),
    'my_int64': list(range(1, 4)),
    'my_float64': np.arange(4.0, 7.0),
    'my_bool1': [True, False, True],
    'my_bool2': [False, True, False],
    'my_dates': pd.date_range('now', periods=3)
}

sample_dict

{'my_string': ['a', 'b', 'c'],
 'my_int64': [1, 2, 3],
 'my_float64': array([4., 5., 6.]),
 'my_bool1': [True, False, True],
 'my_bool2': [False, True, False],
 'my_dates': DatetimeIndex(['2019-06-01 16:44:52.662516', '2019-06-02 16:44:52.662516',
                '2019-06-03 16:44:52.662516'],
               dtype='datetime64[ns]', freq='D')}

In [9]:
sample_df = pd.DataFrame(sample_dict)

In [10]:
sample_df

,my_string,my_int64,my_float64,my_bool1,my_bool2,my_dates
0,a,1,4.0,True,False,2019-06-01 16:44:52.662516
1,b,2,5.0,False,True,2019-06-02 16:44:52.662516
2,c,3,6.0,True,False,2019-06-03 16:44:52.662516

In [11]:
pandas_gbq.to_gbq(
    sample_df, 
    'sql_lessons.x_stg_create_from_dataframe', 
    if_exists  = 'replace'    # options are: 'fail', 'replace', 'append'    
)

1it [00:04,  4.91s/it]